@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
  overflow-x: hidden;
}

/* Code to stop css transitions occuring while page loads: https://css-tricks.com/transitions-only-after-page-load/ */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Removes shadows: https://stackoverflow.com/questions/51750706/how-to-turn-off-materializes-default-shadows-for-navbar/51751637 */
.no-shadows {
  box-shadow: none !important;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.flashes h4 {
  line-height: 2;
}

.fa-bars {
  color: #fff;
}

.fa-bars.scrolled {
  color: #000;
}

.site-logo {
  font-weight: 700;
  font-size: 60px;
  color: rgb(255, 94, 0);
}

/*====== Navbar ======*/
/* Transparent Navbar with scroll effect from: https://stackoverflow.com/questions/29646622/set-bootstrap-navbar-transparency-on-scroll */
.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

nav a.sidenav-trigger.web {
  display: block;
}

nav.nav-extended .nav-wrapper {
  padding: 0px 100px;
}

.nav-wrapper.scrolled {
  background-color: rgba(252, 250, 250, 0.9);
  transition-duration: 0.5s;
}

.nav-logo,
.brand-logo,
nav .brand-logo {
  font-size: 2rem;
  font-weight: 700;
}

.sidenav li > a {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.sidenav.right-aligned {
  background: linear-gradient(
    0deg,
    rgba(210, 9, 9, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.nav-items .row {
  margin-bottom: 0;
}

.row .nav {
  position: relative;
  left: 8rem;
}

.nav-search-icon {
  color: #000;
}

/*====== MastHead from: Start Bootstrap - Clean Blog v5.0.10 (https://startbootstrap.com/theme/clean-blog) ======*/
header.masthead {
  margin-bottom: 50px;
  background: #212529 no-repeat center center;
  background-color: #eeeeee;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.1;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/*====== Register/Login ======*/

.register,
.login {
  justify-content: center;
  align-items: center;    
  text-align: center;
  margin-top: 9rem;
}

/*====== Profile ======*/
/* Avatar: https://www.w3schools.com/howto/howto_css_image_avatar.asp */

.avatar {
  vertical-align: middle;
  object-fit: contain;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: white;
}

.index-avatar {
  vertical-align: middle;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
}

.card-content .container .user {
  margin-top: 1rem;
  font-size: 20px;
}

.index-avatar {
  vertical-align: middle;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  border: 0.5px solid #000;
}

.card-status {
  font-size: 20px;
  font-weight: 700;
}

.break-word {
  word-wrap: break-word;
}

/*====== Body ======*/

.page-heading {
  font-weight: 700;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
}

.container .no_post_results {
  text-align: center;
}

.write-post h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
}

.write-post .card {
  margin-top: 0;
}

.genre-options h2, .genre-search h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
}

.genre-options .card, .genre-search .card, .genre-list .card {
  margin: 10px 10px;
}

.list-color {
  color: orangered !important;
  border: 2px solid orangered;
  background: #fff;
}

.about_card .btn-floating.halfway-fab {
  position: relative;
  right: auto;
  bottom: auto;
  margin: 5px 0;
}

.list-color-hover:hover {
  color: #000 !important;
  border: 2px solid #000;
  background: #fff;
}

/*====== Pagination ======*/

.pagination {
  margin-top: 3rem;
}

.pagination .active {
  background: linear-gradient(
    0deg,
    rgba(210, 9, 9, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

/*====== Card Posts ======*/

#post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-image .card-title {
  font-weight: 700;
}

.card .card-image img {
    height: 250px;
    object-fit: cover;
}

.card {
  box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
  margin: 30px 10px;
}

.card .card-content.description {
  padding-bottom: 0;
}

.truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Color gradient from: https://mycolor.space/gradient?ori=to+left&hex=%233418B0&hex2=%23EB8512&sub=1 */
.main-color,
.btn-floating.halfway-fab {
  background: linear-gradient(
    0deg,
    rgba(210, 9, 9, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.btn-floating.halfway-fab.plus {
  right: 70px;
}

.btn-floating.halfway-fab.pen {
  right: 116px;
}

/* truncate text: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
.post-title {
  font-size: 35px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-title {
  font-weight: 700;
}

.card-review {
  width: auto;
  height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review {
  font-size: 20px;
}

.book {
  font-size: 25px;
  font-weight: 700;
}

.card-genre{
  font-size: 25px;
  font-weight: 700;
}

.link {
  font-weight: 600;
}

/*====== Genre Search ======*/

.genre-search h2 {
    font-weight: 600;
    font-size: 25px;
}

.genre-search .genre-list P{
    margin-top: 0;
}

.search {
  width: 200px;
}

.genre-search .card,
.genre-list .card {
  margin: 10px 10px ;
}

/* Changing select drop down menu color: https://www.javaer101.com/en/article/2794917.html */
.dropdown-content li>a, .dropdown-content li>span {
  color: orangered;
}

/*====== Textarea ======*/

/* * Preserve text area prewrap: https://stackoverflow.com/questions/40417527/how-do-i-preserve-line-breaks-when-getting-text-from-a-textarea/40426477 */
.card-content .container p {
  white-space: pre-wrap;
}

#review {
  height: 8rem !important;
  overflow-y: visible;
  line-height: 1rem;
}

/*====== Dashboard ======*/
#add_genre {
    margin: 2.5rem 0;
}

.card-title.stats-center {
  font-size: 35px;
  font-weight: 700;
}

.card-title.stats-title {
  font-size: 35px;
  font-weight: 700;
}

.stats-center {
  font-size: 25px;
  text-align: center;
}

.total {
  font-size: 25px;
  font-weight: 400;
  margin-left: 10px;
}

.btn {
  font-weight: 600;
}

.genre-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.genre-list p {
  margin-top: 0.5rem;
  font-size: 25px;
}

.underline {
  text-decoration: underline;
}

/*====== Footer ======*/
.page-footer h5 {
  font-weight: 600;
}

.row-color .container{
    background: linear-gradient(
        0deg,
        rgba(210, 9, 9, 1) 0%,
        rgba(253, 187, 45, 1) 100%
      ) !important;
    width: 100%;
    max-width: 2000px;
    margin-top: 6rem;
}

.row-color .row{
    margin-bottom: 0;
}

.responsive {
    width: auto;
    justify-content: center;  
    align-items: center;
    text-align: center;
}

/*====== Extra Small phones ======*/
@media only screen and (min-width: 320px) and (max-width: 480px){
  .card-review{
    width: auto;
  }

  nav .brand-logo {
    display: none;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  .row .nav{
    left: 0;
  }

  .sidenav{
    width: auto;
  }

  .page-heading {
    font-size: 3.2rem;
  }

  .modal .modal-footer{
    display: flex;
  }  

  .genre-search .card,
  .genre-list .card {
    margin: 10px 0px ;
  }

  .review {
    font-size: 14px;
  }

  .book, 
  .card-genre {
    font-size: 18px;
  }
}

/*====== Mobile Phone media queries ======*/
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .phone {
    width: auto;
    justify-content: center;  
    align-items: center;
    text-align: center;
  }

  .input-field .prefix {
    top: 1.2rem;
  }

  .row .nav {
    left: 0;
  }

  .page-heading {
    font-size: 3.2rem;
  }

  nav a.sidenav-trigger {
    display: block;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  nav .brand-logo {
    display: none;
  }

  .register,
  .login {
    margin-top: 4rem;
  }

  .genre-search .card,
  .genre-list .card {
    margin: 10px 0px ;
  }

  .genre-options {
    display: none;
  }
}

/*====== IPad/tablets ======*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .row .col.m3.brand-logo {
    left: 110px;
  }
  
  .row .nav {
    left: 0;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  .row .col.m3.tablet{
    right: 470px;
  }

  .row .col.m8.tablet {
    left: 50px;
  }

  .margin-bottom {
    margin-bottom: 10.5rem;
  }

  .genre-options {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){
  .row .nav {
    left: 10rem;
  }
}