@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Benne", sans-serif;
  overflow-x: hidden;
  /* Color: https://www.rapidtables.com/web/color/white-color.html */
  background: #FDF5E6;
}

/* Code to stop css transitions occuring while page loads: https://css-tricks.com/transitions-only-after-page-load/ */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Removes shadows: https://stackoverflow.com/questions/51750706/how-to-turn-off-materializes-default-shadows-for-navbar/51751637 */
.no-shadows {
  box-shadow: none !important;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.flashes h4 {
  line-height: 2;
}

.fa-bars {
  color: #fff;
}

.fa-bars.scrolled {
  color: #000;
}

.site-logo {
  font-weight: 700;
  font-size: 60px;
  color: orange; 
}

/*====== Navbar ======*/
/* Transparent Navbar with scroll effect from: https://stackoverflow.com/questions/29646622/set-bootstrap-navbar-transparency-on-scroll */
.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

nav a.sidenav-trigger.web {
  display: block;
}

nav.nav-extended .nav-wrapper {
  padding: 0px 100px;
}

.nav-wrapper.scrolled {
  background-color: rgba(252, 250, 250, 0.9);
  transition-duration: 0.5s;
}

.nav-logo,
.brand-logo,
nav .brand-logo {
  font-size: 2rem;
  font-weight: 700;
}

.sidenav li > a {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.sidenav.right-aligned {
  background-color: wheat;
}

.nav-items .row {
  margin-bottom: 0;
}

.row .nav {
  position: relative;
  left: 8rem;
}

.nav-search-icon {
  color: #000;
}

.search.input-field>label {
  color: white;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 90%);;
}

.search.input-field>label.scrolled {
  color: black;
  text-shadow: none;
}

/*====== MastHead from: Start Bootstrap - Clean Blog v5.0.10 (https://startbootstrap.com/theme/clean-blog) ======*/
header.masthead {
  margin-bottom: 50px;
  background: #212529 no-repeat center center;
  background-color: #eeeeee;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 80vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.1;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: orange;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/*====== Register/Login ======*/

.register,
.login {
  justify-content: center;
  align-items: center;    
  text-align: center;
  margin-top: 9rem;
}

/*====== Profile ======*/
/* Avatar: https://www.w3schools.com/howto/howto_css_image_avatar.asp */

.avatar {
  vertical-align: middle;
  object-fit: contain;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: white;
}

.index-avatar {
  vertical-align: middle;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  border: 0.5px solid #000;
}

.card-content .container .user {
  margin-top: 1rem;
  font-size: 20px;
}

.card-status {
  font-size: 20px;
  font-weight: 700;
}

.break-word {
  word-wrap: break-word;
}

/*====== Body ======*/

.page-heading {
  font-weight: 700;
}

.container .no_post_results {
  text-align: center;
}

/*====== Pagination ======*/

.pagination {
  margin-top: 3rem;
}

.pagination li.active a {
  background-color: orange;
  color: #fff;
}

/*====== About Card ======*/

.about_card {
  background: #FDF5E6;
}

.about_card .btn-floating.halfway-fab {
  position: relative;
  right:auto;
  bottom: auto;
  margin: 5px 0;
}

.about_card .card-content {
  font-size: 17px;
}

/*====== Card Posts ======*/

#post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-image .card-title {
  font-weight: 700;
}

.card .card-image img {
    height: 150px;
    object-fit: cover;
}

.card {
  box-shadow: 0px 8px 15px rgb(0 0 0 / 30%);
  margin: 30px 10px;
}

.card .card-content.description {
  padding-bottom: 0;
}

.truncate {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Color from: https://www.rapidtables.com/web/color/brown-color.html */
.main-color,
.btn-floating.halfway-fab {
  background-color: orange;
}

.brown-text {
  color:#8B4513;
}

.list-color {
  color:orange !important;
  border: 2px solid orange	;
  background: #fff;
}

.btn-floating.halfway-fab.plus {
  right: 70px;
}

.btn-floating.halfway-fab.pen {
  right: 116px;
}

/* truncate text: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
.post-title {
  font-size: 35px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-title {
  font-weight: 700;
  overflow-wrap: break-word;
}

.card-review {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review {
  font-size: 20px;
}

.book {
  font-size: 25px;
  font-weight: 700;
  overflow-wrap: break-word;
}

.card-genre{
  font-size: 25px;
  font-weight: 700;
}

.link {
  font-weight: 600;
}

/*====== Genre Search ======*/

.genre-options h2,
.genre-search h2 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
}

.genre-options .genre-list P,
.genre-search .genre-list P{
    margin-top: 0;
}

.search {
  width: 200px;
}

.genre-options .card,
.genre-search .card,
.genre-list .card {
  margin: 10px 10px ;
}

.write-post h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
}

.write-post .card {
  margin-top: 0;
}

/* Changing select drop down menu color: https://www.javaer101.com/en/article/2794917.html */
.dropdown-content li>a, .dropdown-content li>span {
  color: #8B4513;
}

/*====== Textarea ======*/

/* * Preserve text area prewrap: https://stackoverflow.com/questions/40417527/how-do-i-preserve-line-breaks-when-getting-text-from-a-textarea/40426477 */
.card-content .container p {
  white-space: pre-wrap;
}

#review {
  height: 8rem !important;
  overflow-y: visible;
  line-height: 1rem;
}

/*====== Dashboard ======*/
#add_genre {
    margin: 2.5rem 0;
}

.card-title.stats-center {
  font-size: 35px;
  font-weight: 700;
}

.card-title.stats-title {
  font-size: 35px;
  font-weight: 700;
}

.stats-center {
  font-size: 25px;
  text-align: center;
}

.total {
  font-size: 25px;
  font-weight: 400;
  margin-left: 10px;
}

.btn {
  font-weight: 600;
}

.genre-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.genre-list p {
  margin-top: 0.5rem;
  font-size: 25px;
}

.underline {
  text-decoration: underline;
}

/*====== Reactive CTA ======*/
i.tooltipped:hover,
a.card:hover,
a.btn:hover,
a.modal-close:hover,
a.btn-large:hover,
button.btn-large:hover,
button.modal-close:hover,
button.card:hover {
  color: #000 !important;
  background-color: #fff !important;
  background: #fff !important;
  text-shadow: 0px 0px;
  border-color: black;
}

.modal .modal-footer .btn, 
.modal .modal-footer .btn-large, 
.modal .modal-footer .btn-small, 
.modal .modal-footer .btn-flat {
  font-family: inherit;
}

/*====== Footer ======*/
.page-footer {
  background-color: wheat;
}

.page-footer h5 {
  font-weight: 600;
}

.row-color .container{
    background-color: orange;
    width: 100%;
    max-width: 2000px;
    margin-top: 6rem;
}

.row-color .row{
    margin-bottom: 0;
}

.responsive {
    width: auto;
    justify-content: center;  
    align-items: center;
    text-align: center;
}

/*====== Extra Small phones ======*/
@media only screen and (min-width: 320px) and (max-width: 480px){
  .card-review{
    width: auto;
  }

  nav .brand-logo {
    display: none;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  .row .nav{
    left: 0;
  }

  .sidenav{
    width: 70%;
  }

  .page-heading {
    font-size: 3.2rem;
  }

  .modal .modal-footer{
    display: flex;
  }  

  .genre-search .card,
  .genre-list .card {
    margin: 10px 0px ;
  }

  .genre-options {
    display: none;
  }
}

/*====== Mobile Phone media queries ======*/
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .phone {
    width: auto;
    justify-content: center;  
    align-items: center;
    text-align: center;
  }

  .input-field .prefix {
    top: 1.2rem;
  }

  .row .nav {
    left: 0;
  }

  .page-heading {
    font-size: 3.2rem;
  }

  nav a.sidenav-trigger {
    display: block;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  nav .brand-logo {
    display: none;
  }

  .register,
  .login {
    margin-top: 4rem;
  }

  .genre-search .card,
  .genre-list .card {
    margin: 10px 0px ;
  }

  .genre-options {
    display: none;
  }
}

/*====== IPad/tablets ======*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .row .col.m3.brand-logo {
    left: 110px;
  }
  
  .row .nav {
    left: 0;
  }

  nav.nav-extended .nav-wrapper {
    padding: 0px;
  } 

  .row .col.m3.tablet{
    right: 470px;
  }

  .row .col.m8.tablet {
    left: 50px;
  }

  .margin-bottom {
    margin-bottom: 10.5rem;
  }

  .genre-options {
    display: none;
  }
}

/* Ipad Pro */
@media (min-width: 1024px) {
  .row .nav {
    left: 10rem;
  }
}

/* Laptop/larger Media Queries */
@media (min-width: 1200px) and (max-width: 1366px){
  .row .nav {
    left: 10rem;
  }

  .genre-options {
    display: visible;
  }

  .genre-search {
    display: none;
  }
}
  