{% extends "base.html" %}
{% block content %}

    <h3 class="center-align page-heading">Dashboard</h3>

    <div class="row">
        {% for genre in genres %}
            <div class="col s12 m3">
                <div class="card text-shadow center-align">
                    <div class="card-content black-text">
                        <span class="card-title">{{ genre.genre_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn orange">Edit</a>
                        <a href="#" class="btn orange">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}