{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class="col s12">
        <h1 class="center-align page-heading">Dashboard</h1>
    </div>

    <!-- Users and Post totals -->
    <div class="col s12 m6">
        <h2 class="card-title stats-title center-align">Statistics:</h2>
        <p class="total center-align">Total users: {{ total_users }}</p>
        <p class="total center-align">Total Posts: {{ total_posts }}</p>
    </div>
    <!-- Genres -->
    <div class="col s12 m6">
        <h2 class="card-title stats-center">Genres:</h2>
        <ul>
            {% for genre in genres %}
            <li class="genre-list">
                <p>{{ genre.genre_name }}</p>
                <!-- Buttons -->
                <div>
                    <span><a href="{{ url_for('edit_genre', genre_id=genre._id) }}"
                            class="card btn halfway-fab waves-effect waves-light main-color">Edit</a></span>
                    <span><a href="{{ url_for('delete_genre', genre_id=genre._id) }}"
                            class="card btn halfway-fab waves-effect waves-light black modal-trigger">Delete
                            </a></span>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- Add New Genre -->
        <div class="center-align">
            <a href="{{ url_for('add_genre') }}" id="add_genre" 
                class="btn center-algin main-color waves-effect waves-light">Add genre</a>
        </div>
    </div>
</div>
{% endblock %}