{% extends "base.html" %}
{% block content %}

    <h3 class="center-align page-heading">Dashboard</h3>

    <div class="row">
        <!-- Users -->
        <div class="col s12 m6">
            <p class="card-title stats">No. of Users:</p>
            <div>
                <p class="stats card-panel center-align">{{ total_users }}</p>
            </div>
        </div>
        <!-- Genres -->
        <div class="col s12 m6">
            <p class="card-title stats">Genres:</p>
            <div>
                {% for genre in genres %}
                    <p class="stats card-panel">{{ genre.genre_name }} <!-- Buttons -->
                        <!-- <a href="#" class="right-align just orange white-text">Edit</a>
                        <a href="#" class="right-align just orange white-text">Delete</a> -->
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}