{% extends "base.html" %}
{% block content %}

    <h1 class="center-align page-heading">Edit Post</h1>

    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
            <div class="row">
                <!-- Genre -->
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text"></i>
                    <select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled>Choose Genre</option>
                            {% for genre in genres %}
                                <!-- Ensuring preselected genre is default -->
                                {% if genre.genre_name == post.genre_name %}
                                    <option value="{{ genre.genre_name}}" selected>{{ genre.genre_name }}</option>
                                {% else %}
                                    <option value="{{ genre.genre_name}}" selected>{{ genre.genre_name }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>
                    <label for="genre_name">Genre</label>
                </div>
            </div>
                <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-heading prefix orange-text"></i>
                    <input id="post_title" name="post_title" type="text" minlength="5" maxlength="200"
                        value="{{ post.post_title }}" class="validate" required>
                    <label for="post_title">Title</label>
                </div>
            </div>
                <!-- Book -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix orange-text"></i>
                    <input id="book" name="book" type="text" minlength="5" maxlength="200"
                        value="{{ post.book }}" class="validate" required>
                    <label for="book">Book</label>
                </div>
            </div>
                <!-- Book Review -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen prefix orange-text"></i>
                    <textarea id="review" name="review" class="materialize-textarea" minlength="5"
                        maxlength="3000" data-length="1500" required>{{- post.review -}}</textarea>
                    <label for="review">Book Review</label>
                </div>
            </div>
            <div class="row">
            <!-- Cancel edits -->
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_posts') }}" class="btn-large orange waves-effect waves-light text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a> 
            <!-- Submit edits -->
                    <a href="#edit_post" class="btn-large modal-trigger teal waves-effect waves-light text-shadow">
                        Update <i class="fas fa-plus-square right"></i>
                    </a>
                </div>  
            </div>

            <!-- Modal Structure -->
            <div id="edit_post" class="modal teal white-text">
                <div class="modal-content">
                    <h4><i class="fas fa-exclamation-circle left"></i>
                        Are you certain you would like to apply the changes?
                    </h4>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('get_posts') }}" class="btn modal-close waves-effect center-align 
                        orange white-text text-shadow">Cancel 
                        <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="modal-close waves-effect teal center-align white-text 
                        waves-green btn">Update 
                        <i class="fas fa-check-circle right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
