{% extends "base.html" %}

{% block styles %}
<!-- AOS CSS Library -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% if header_img %}
<!-- Header Image -->
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1 class="text-shadow site-logo" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-duration="1200">
          Papercuts
        </h1>
        <span class="subheading text-shadow site-logo" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-delay="1500" data-aos-duration="1500">
          Critical Book Reviews and Rants
        </span>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if posts|length > 0 %}

<div class="row">

  <div class="col l3 s12">
    <div class="genre-search">
      <h2>Search Genres:</h2>
      <form action="{{ url_for('search') }}" method="POST">
        <select id="query" name="query" class="validate" required>
          <option value="" disabled selected>Choose Genre</option>
          {% for genre in genres %}
          <option value="{{ genre._id }}">{{ genre.genre_name }}</option>
          {% endfor %}
        </select>
        <label for="query">Search Genre</label>
        <button type="submit" class="card waves-effect main-color search center-align white-text 
          waves-light btn">Search
        </button>
      </form>
    </div>
  </div>

  <div id="post-card" class="col s12 l9">
    {% for post in posts %}
    <div href="{{ url_for('show_post', post_id=post._id, header=header) }}" class="card hoverable grey lighten-4"
      data-aos="fade-right">

      <!-- Genre Image based on genre_id-->
      <div class="card-image">
        {% if post.genre_id == '60801478c4a5cd24e572d02e' or post.genre_name == 'Nature' %}
        <img src="{{ url_for('static', filename='images/nature.jpeg') }}" alt="Nature genre image">
        {% elif post.genre_id == '60800dded88bad5caa6671f2' or post.genre_name == 'Thriller' %}
        <img src="{{ url_for('static', filename='images/thriller.jpeg') }}" alt="Thriller genre image">
        {% elif post.genre_id =='6088189e0d2bac4f6f3e8ab4' or post.genre_name == 'Comedy' %}
        <img src="{{ url_for('static', filename='images/comedy.jpeg') }}" alt="Comedy genre image">
        {% elif post.genre_id == '608b327b9d0129c3ee38a66a' or post.genre_name == 'Adventure' %}
        <img src="{{ url_for('static', filename='images/adventure.jpeg') }}" alt="Adventure genre image">
        {% elif post.genre_id == '608818b10d2bac4f6f3e8ab5' or post.genre_name == 'Fantasy' %}
        <img src="{{ url_for('static', filename='images/fantasy.jpeg') }}" alt="Fantasy genre image">
        {% elif post.genre_id == '607334630c164046e72ced5f' or post.genre_name == 'Romance' %}
        <img src="{{ url_for('static', filename='images/romance.jpeg') }}" alt="Romance genre image">
        {% elif post.genre_id == '608818b70d2bac4f6f3e8ab6' or post.genre_name == 'Space' %}
        <img src="{{ url_for('static', filename='images/space.jpeg') }}" alt="Space genre image">
        {% elif post.genre_id == '608862e11507fdd49f81f6be' or post.genre_name == 'Enlightenment' %}
        <img src="{{ url_for('static', filename='images/enlightenment.jpeg') }}" alt="Space genre image">
        {% else %}
        <img src="{{ url_for('static', filename='images/none.jpeg') }}" alt="No Genre image">
        {% endif %}

        <!-- Display genre name based on genre_id -->
        <span class="card-title white-text text-shadow">{{ post.genre_name }}</span>

        <!-- Card Buttons  -->
        <!-- Add Post -->
        <!-- Must be registered User -->
        {% if session.user|lower %}
        <a href="{{ url_for('add_post') }}" class="btn-floating plus halfway-fab 
              waves-effect waves-light main-color">
          <i class="fas fa-plus tooltipped" data-position="bottom" data-tooltip="Add Post"></i>
        </a>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn-floating plus halfway-fab 
              waves-effect waves-light main-color">
          <i class="fas fa-plus tooltipped" data-position="bottom" data-tooltip="Add Post"></i>
        </a>
        {% endif %}
        <!-- Read Post -->
        <a href="{{ url_for('show_post', post_id=post._id) }}"
          class="btn-floating halfway-fab waves-effect waves-light">
          <i class="fas fa-search tooltipped" data-position="bottom" data-tooltip="Read Post"></i>
        </a>
        <!-- Edit Post -->
        {% if session.user|lower == post.created_by|lower %}
        <a href="{{ url_for('edit_post', post_id=post._id) }}"
          class="btn-floating pen halfway-fab waves-effect waves-light">
          <i class="fas fa-pen tooltipped" data-position="bottom" data-tooltip="Edit Post"></i>
        </a>
        {% endif %}
      </div>

      <!-- Card Description -->
      <div class="card-content description">
        <a href="{{ url_for('show_post', post_id=post._id) }}" class="post-title black-text">
          <strong class="truncate">{{ post.post_title }}</strong>
        </a>
        <p><em>Book:</em>
          {{ post.book }}
        </p>
        <br>
        <p><em>Review:</em></p>
        <p class="card-review truncate">{{ post.review }}</p>
        <a href="{{ url_for('show_post', post_id=post._id) }}" class="center-align deep-orange-text link">
          Read more
        </a>
        <br>
        <br>
        <p class="truncate"><em>Created by:</em></p>
        {% for user in users %}
        {% if post.created_by == user.username %}
        {% if user.avatar %}
        <img class="index-avatar" src="{{ user.avatar }}" alt="author's avatar">
        {% else %}
        <!-- Default avatar -->
        <img class="index-avatar" src="https://avatars.dicebear.com/v2/female/8294f3a9f11df5c87368bdf66aaa2564.svg"
          alt="author's avatar">
        {% endif %}
        <a href="{{ url_for('search_profile', user_id=user._id) }}" class="black-text">{{ post.created_by }}</a>
        {% endif %}
        {% endfor %}

        <!-- Display dates and edit dates -->
        {% if post.date %}
        <p style="margin-top: 10px;"><em>Date:</em>
          {{ post.date }}
        </p>
        {% elif post.edit_date %}
        <p><em>Latest Edit:</em>
          {{ post.edit_date }}
        </p>
        {% endif %}
      </div>
      <!-- Read Review -->
      <div class="card-action">
        <a href="{{ url_for('show_post', post_id=post._id) }}" class="center-align deep-orange-text link">Read</a>
        <!-- Edit and Delete -->
        {% if session.user|lower == post.created_by|lower %}
        <a href="{{ url_for('edit_post', post_id=post._id) }}" class="center-align deep-orange-text link">Edit</a>
        {% endif%}
        {% if session.user|lower == post.created_by|lower or session.user|lower == 'admin'%}
        <a href="{{ url_for('delete_post', post_id=post._id) }}"
          class="modal-trigger center-align deep-orange-text link">Delete</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination Feature -->

{% if search_called == False: %}
<div class="row">
  <div class="col l12 s12">
    <ul class="pagination center-align">

      {% if page == 1 %}
      <li style="visibility: hidden;">
        {% else %}
      <li>
        {% endif %}
        <a href="{{ url_for('get_posts', page = page - 1) }}"><i class="fas fa-chevron-left"></i></a>
      </li>

      <!-- 1 Page -->
      {% if posts_data|length <= 5 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
        {% if page == 1 %}
        <li style=" visibility: hidden;">
          {% else %}
        <li>
          {% endif %}
          <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
        </li>

        <!-- 2 Pages -->
        {% elif posts_data|length <= 10 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
          <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
          {% if page == 2 %}
          <li style=" visibility: hidden;">
            {% else %}
          <li>
            {% endif %}
            <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
          </li>

          <!-- 3 Pages -->
          {% elif posts_data|length <= 15 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
            <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
            <li class="{% if page == 3 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 3) }}">3</a></li>
            {% if page == 3 %}
            <li style=" visibility: hidden;">
              {% else %}
            <li>
              {% endif %}
              <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
            </li>

            <!-- 4 Pages -->
            {% elif posts|length <= 20 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
              <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
              <li class="{% if page == 3 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 3) }}">3</a></li>
              <li class="{% if page == 4 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 4) }}">4</a></li>
              {% if page == 4 %}
              <li style=" visibility: hidden;">
                {% else %}
              <li>
                {% endif %}
                <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
              </li>

              <!-- Final Page -->
              {% else %}
              <li class="{% if page == 5 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 5) }}">5</a></li>
              {% endif %}
    </ul>
  </div>
</div>
{% endif %}

<!-- No Results from search -->
{% else %}
<div class="no_post_results">
  <h3 class="center-align deep-orange-text">No Results Found</h3>
  <a href="{{ url_for('get_posts') }}" class="card waves-effect main-color search center-align white-text 
          waves-light btn">Return
  </a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- AOS Scripting -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}