{% extends "base.html" %}

{% block styles %}
<!-- AOS CSS Library -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if posts|length > 0 %}

<div class="row">

  <!-- Search Genre -->
  <div class="col l3 s12">
    <div class="genre-search">
      <h2>Search Genres:</h2>
      <form action="{{ url_for('search') }}" method="POST">
        <select id="genre_query" name="query" class="validate" required>
          <option value="" disabled selected>Choose Genre</option>
          {% for genre in genres %}
          <option value="{{ genre._id }}">{{ genre.genre_name }}</option>
          {% endfor %}
        </select>
        <label for="genre_query">Search Genre</label>
        <button type="submit" class="card waves-effect main-color search center-align white-text 
            waves-light btn col m12 s12">Search
        </button>
      </form>
    </div>

    <div class="write-post">
      <h2>Write a review: </h2>
      <p>Feel free to contribute to our community...</p>
      <hr>
      <br>
      {% if session.user|lower %}
      <a href="{{ url_for('add_post') }}" class="card waves-effect main-color search center-align white-text 
          waves-light btn col m12"> Add Post
      </a>
      {% else %}
      <a href="{{ url_for('login') }}" class="card waves-effect main-color search center-align white-text 
          waves-light btn col m12"> Add Post
      </a>
      {% endif %}
    </div>
  </div>

  <!-- Posts -->
  <div id="post-card" class="col s12 l9">
    {% for post in posts %}
      {% include "components/card.html" %}
    {% endfor %}
  </div>
</div>

<!-- Pagination Feature -->

{% if search_called == False: %}
<div class="row">
  <div class="col l12 s12">
    <ul class="pagination center-align">

      {% if page == 1 %}
      <li style="visibility: hidden;">
        {% else %}
      <li>
        {% endif %}
        <a href="{{ url_for('get_posts', page = page - 1) }}"><i class="fas fa-chevron-left"></i></a>
      </li>

      <!-- 1 Page -->
      {% if posts_data|length <= 5 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
        {% if page == 1 %}
        <li style=" visibility: hidden;">
          {% else %}
        <li>
          {% endif %}
          <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
        </li>

        <!-- 2 Pages -->
        {% elif posts_data|length <= 10 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
          <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
          {% if page == 2 %}
          <li style=" visibility: hidden;">
            {% else %}
          <li>
            {% endif %}
            <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
          </li>

          <!-- 3 Pages -->
          {% elif posts_data|length <= 15 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
            <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
            <li class="{% if page == 3 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 3) }}">3</a></li>
            {% if page == 3 %}
            <li style=" visibility: hidden;">
              {% else %}
            <li>
              {% endif %}
              <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
            </li>

            <!-- 4 Pages -->
            {% elif posts|length <= 20 %} <li class="{% if page == 1 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 1) }}">1</a></li>
              <li class="{% if page == 2 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 2) }}">2</a></li>
              <li class="{% if page == 3 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 3) }}">3</a></li>
              <li class="{% if page == 4 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 4) }}">4</a></li>
              {% if page == 4 %}
              <li style=" visibility: hidden;">
                {% else %}
              <li>
                {% endif %}
                <a href="{{ url_for('get_posts', page = page + 1) }}"><i class="fas fa-chevron-right"></i></a>
              </li>

              <!-- Final Page -->
              {% else %}
              <li class="{% if page == 5 %} active {% endif %}
                      waves-effect"><a href="{{ url_for('get_posts', page = 5) }}">5</a></li>
              {% endif %}
    </ul>
  </div>
</div>
{% endif %}

<!-- No Results from search -->
{% else %}
<div class="no_post_results">
  <h3 class="center-align deep-orange-text">No Results Found</h3>
  <a href="{{ url_for('get_posts') }}" class="card waves-effect main-color search center-align white-text 
          waves-light btn">Return
  </a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- AOS Scripting -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}