{% extends "base.html" %}
{% block content %}

<h3 class="center-align page-heading">{{ user.username }}'s Profile</h3>

<div class="row">
    <div class="col s4">
        <img class="avatar text-shadow hoverable card" src="{{ user.avatar }}">
    </div>
    <div class="col s8">
        <div class="card">
            <!-- Card Buttons  -->
            <div class="card-image">
                <!-- Return -->
                <a href="{{ url_for('get_posts') }}" class="btn-floating halfway-fab waves-effect waves-light">
                    <i class="fas fa-times-circle tooltipped" data-position="bottom" data-tooltip="Return">
                    </i>
                </a>
                <!-- Edit Profile -->
                {% if session.user|lower == username|lower or session.user == 'admin' %}
                <a href="{{ url_for('edit_profile', username=session.user|lower) }}" class="btn-floating plus halfway-fab 
                        waves-effect waves-light main-color">
                    <i class="fas fa-pen tooltipped" data-position="bottom" data-tooltip="Edit My Profile"></i>
                </a>
                {% endif %}
            </div>
            <!-- Profile Content -->
            <div class="card-content">
                <div class="container">
                    <p class="user">User:</p>
                    <p style="margin-left: 50px;"><strong class="card-status">{{ user.username }}</strong></p>
                    <br>
                    <p style="font-size: 20px;">Status:</p>
                    <p style="margin-left: 50px;" class="card-status status">{{ user.status }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}