{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <!-- Card Buttons  -->
            <div class="card-image">
                <!-- Return -->
                <a href="{{ url_for('get_posts') }}" class="btn-floating halfway-fab waves-effect waves-light">
                    <i class="fas fa-times-circle tooltipped" data-position="bottom" data-tooltip="Return">
                    </i>
                </a>
                <!-- Edit/Login -->
                {% if session.user|lower == username %}
                <a href="{{ url_for('edit_profile', username=session['user']) }}" class="btn-floating plus halfway-fab 
                    waves-effect waves-light main-color">
                    <i class="fas fa-pen tooltipped" data-position="bottom" data-tooltip="Edit"></i>
                </a>
                {% else %}
                <a href="{{ url_for('login') }}" class="btn-floating plus halfway-fab 
                             waves-effect waves-light main-color">
                    <i class="fas fa-sign-in-alt tooltipped" data-position="bottom" data-tooltip="Login"></i>
                </a>
                {% endif %}
            </div>
            <!-- Profile Content -->
            <div class="card-content">
                <div class="container">
                    <p style="font-size: 20px;">User: <strong class="card-bio">{{ username }}</strong></p>
                    <br>
                    <p style="font-size: 20px;"><em>Bio:</em></p>
                    <p class="card-bio">{{ username }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}