{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ post.post_title }}</h3>

<div class="row">
    <div class="col s12">
        <div class="card">
          <div class="card-image">
            <span class="card-title white-text">{{ post.genre }}</span>
            <a href="{{ url_for('add_post') }}" class="btn-floating halfway-fab waves-effect waves-light orange">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          <div class="card-content">
            <div class="container">
              <p style="font-size: 20px;"><em>Book:</em></p>
              <p class="book"><em>{{ post.book }}</em></p>
              <br>
              <p style="font-size: 20px;"><em>Review:</em></p>
              <p class="review"><strong>{{- post.review -}}</strong></p>
              <br>
              <p class="right-align"><em>Author:</em> {{ post.created_by }}</p>
              <p class="right-align"><em>Date:</em> {{ post.date }}</p>
            </div>
          </div>
        </div>
    </div>
  </div> 


{% endblock %}