<div class="row">
    <div class="col s12">
      <div class="about_card card">
        <div class="card-content black-text">
          <span class="card-title orange-text">About Us</span>
          <p>This site aims to gather reviews or rants from its users regarding any novels they
             have read. You can read another user's review(s) to gather more information about 
             certain titles. You can search for specific users, check their profile
             and see what they have posted. You can also search for specific content through the
             search bar at the top or the genre list the side of our main page.
            </p>
            <br>
            <span class="card-title orange-text">Some Pointers</span>
            <p>If you see these icons on a card, these are what they can do:</p>
            <br>
            <p class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-pen"></i></p> - 'Edit this Post'
            <br>
            <p class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-plus"></i></p> - 'Add a Post'
            <br>
            <p class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-search"></i></p> - 'Read this Post'
            <br>
            <p class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-times-circle"></i></p> - 'Delete this Account'
            <br>
            <p class="btn-floating halfway-fab waves-effect waves-light"><i class="fas fa-trash-alt"></i></p> - 'Delete this Post'
        </div>
      </div>
    </div>
  </div>
          