<!-- Summary and Links -->
<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Papercuts</h5>
            <p class="white-text">
                Papercuts - the critical book review website.
                An online community of book reviews, ratings and rants.
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="white-text" href="{{ url_for('get_posts') }}">Home</a></li>
                {% if session.user %}
                <li><a class="white-text"
                        href="{{ url_for('profile',username=session['user']) }}">Profile</a></li>
                <li><a class="white-text" href="{{ url_for('add_post') }}">
                        Add Post</a></li>
                {% if session.user == 'admin'|lower %}
                <li><a class="white-text"" href=" {{ url_for('dashboard') }}">
                        Dashboard</a></li>
                {% endif %}
                <li><a class="white-text" href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a class="white-text" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="white-text" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>